.toast {
  position: fixed;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 1s ease-out;
  z-index: 9999;
}

.toast.hide {
  opacity: 0;
}